<h2>Show customer</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @customer.name %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @customer.address %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @customer.description %>
  </li>

</ul>

<%= link "Edit", to: customer_path(@conn, :edit, @customer) %>
<%= link "Back", to: customer_path(@conn, :index) %>
